body{
  background-color: #000;
}
.page-header{
  text-align: center;
    color: white;
}
.container {
    background: red;
}
.row {
    display: inline-flex;
    justify-content: center;
}
img{
  width:25%;
justify-content: center;
}
